#box {
    width: 100%;
    height: 100%;
    border: tan solid 4px;
    background-color: tan;
    position: relative;
}
#bossbox {
    width: 100%;
    height: 100%;
    border: red solid 4px;
    background-color: tan;
    position: relative;
}
.newbox {
    width: 90%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 3;
}
.dialogue {
    text-align: center;
    color: ghostwhite;
    font-family: Verdana;
    font-weight: bold;
}
.battle {
    color: white;
    text-align: center;
}
.inquiry {
    color: white;
    border: white solid 3px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.inquiry ol {
    list-style-position: inside;
    /*text-align: center;*/
    position: relative;
    left: 18%;
}
.answer {
    margin-left: auto;
    margin-right: auto;
    margin-left: 25px;
}
#attackone {
    width: 3%;
    height: 6%;
    background-color: brown;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;
    position: absolute;
    top: 140px;
    left: 170px;
}
.attacktwo {
    width: 2.5%;
    height: 4%;
    /*background-color: clear;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;*/
    /*background: url("images/Question.png") no-repeat center;
    background-size: cover;*/
    position: absolute;
    /*height: 15px;
    max-height: 2%;
    max-width: 2%;*/
    z-index: 1;
    
    
}

.attacktwo img {
    position: absolute;
    height: 100%;
    width: 100%;
}

#attackthree {
    width: 3%;
    height: 6%;
    background-color: tan;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;
    position: absolute;
    top: 140px;
    left: 300px;
}
.question {
    /*margin-left: 30px;*/
    text-align: center;
    position: relative;
    left: 48%;
}
#questionbox {
    border: white solid 2px;
    border-width: 10%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#bossbox {
    width: 1000px;
    height: 1200px;
    border: red solid 4px;
    background-color: tan;
    position: relative;
}
#bossbackground {
    position: relative;
    background-color: black;
    height: 100%;
    width: 100%;
}
#title {
    color: white;
    text-align: center;
}
#bosspic {
    display: inline-block;
    margin-left: 42%;
    margin-top: 10%;
    position: absolute;
}
#bigbosspic {
    display: inline-block;
    margin-left: 29%;
    margin-top: 5%;
    position: absolute;
}
#mongobosspic {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin-left: 41%;
    margin-top: 5%;
    position: absolute;
}
#expressbosspic {
    width: 20%;
    height: 25%;
    display: inline-block;
    margin-left: 39%;
    margin-top: 5%;
    position: absolute;
}
#angularbosspic {
    width: 27%;
    /*height: 25%;*/
    display: inline-block;
    margin-left: 39%;
    margin-top: 5%;
    position: absolute;
}
#nodebosspic {
    width: 15%;  
    display: inline-block;
    margin-left: 43%;
    margin-top: 5%;
    position: absolute;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding-left: 0px;
    padding-right: 0px;
}

#userInfo {
    display: inline;
}

#cmon {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    top: 55px;
}
#bigbosspic {
    width: 44%;
    height: 66%;
}
