#box {
    width: 100%;
    height: 100%;
    border: red solid 4px;
    background-color: tan;
    position: relative;
}
#bossbox {
    width: 100%;
    height: 100%;
    border: red solid 4px;
    background-color: tan;
    position: relative;
}
.newbox {
    width: 90%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 8px;
    position: absolute;
    top: 25px;
    left: 50px;
}
.dialogue {
    text-align: center;
    color: ghostwhite;
    font-family: Verdana;
    font-weight: bold;
}
.battle {
    color: white;
    text-align: center;
}
.inquiry {
    color: white;
    border: white solid 3px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.answer {
    margin-left: auto;
    margin-right: auto;
    margin-left: 25px;
}
#attackone {
    width: 3%;
    height: 6%;
    background-color: brown;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;
    position: absolute;
    top: 140px;
    left: 170px;
}
.attacktwo {
    width: 2.5%;
    height: 4%;
    /*background-color: clear;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;*/
    background: url("images/Question.png") no-repeat center;
    background-size: cover;
    position: absolute;
    /*height: 15px;
    max-height: 2%;
    max-width: 2%;*/
    z-index: 1;
    
    
}

.attacktwo img {
    position: absolute;
    height: 10%;
}

#attackthree {
    width: 3%;
    height: 6%;
    background-color: tan;
    border: darkgoldenrod solid 4px;
    border-radius: 50px;
    position: absolute;
    top: 140px;
    left: 300px;
}
.question {
    margin-left: 30px;
}
#bossbox {
    width: 1000px;
    height: 1200px;
    border: red solid 4px;
    background-color: tan;
    position: relative;
}
