@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css');
@import url('http://fonts.googleapis.com/css?family=Roboto:400');


.question {
    width: 50px;
}

.mario {
    position: absolute;
    top: 68%;
    left: 13.75%;
    height: 20px;
    max-height: 4%;
    z-index: 2;
}

#map {
    position:relative;
    display: inline;
}

#counter {
    position: relative;
    /*display: inline;*/
    /*width: auto;
    height: auto;*/
}

#dot {
    position:absolute;
    left:33.5%;
    top:42.5%;
    height: 15px;
    max-height: 2%;
    max-width: 2%;
    z-index: 1;
}

/*Login and Create User Page Styling Start*/

body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.logo {
    position: fixed;
    /*top: 0%;
    left: 0%;*/
}

.login-container {
    padding: 25px;
    position: fixed;
    background: url('images/temp-bg.jpg') no-repeat center fixed;
    background-size: cover;
    /*padding: 0;*/
    margin: 0;
    width: 100%;
    height: 100%;
}

#letsplay {
    position: relative;
    left: 20%;
    width: 60%;
    min-width:60%;
}

.form-login {
    position: absolute;
    background-color: goldenrod;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    color: white;
    top: 30%;
    left: 35%;
    width: 30%;
    box-shadow: -5px 5px 40px rgba(0,0,0, .7);
}

.loginBtn {
    background-color: transparent;
    border: none;
    width: 100px;
}

.logoutBtn {
    background-color: transparent;
    border: none;
    width: 120px;
}

.newuserBtn {
    background-color: transparent;
    border: none;
    width: 140px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
    text-align: center;
    /*height: 500px;
    font-size: medium;*/
}

#userName {
    height: 30px;
    font-size: x-large;
}

#userPassword {
    height: 30px;
    font-size: x-large;
}

.wrapper {
    text-align: center;
}

/*Login Page Styling End*/

#saveBtn {
    background-color: transparent;
    border: none;
    width: 200px;
}

#new-firstname {
    height: 30px;
    font-size: x-large;
}

#new-lastname {
    height: 30px;
    font-size: x-large;
}

#new-email {
    height: 30px;
    font-size: x-large;
}

#new-password {
    height: 30px;
    font-size: x-large;
}

#new-username {
    height: 30px;
    font-size: x-large;
}

/*Create User Page Styling End*/

/*Board Styling Start*/

.door {
    background-color: transparent;
    border: none;
}

#mongo {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 35%;
    left: 20.2%;
    text-align: center;
    z-index: 0;
}

#express {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 35%;
    left: 30%;
    text-align: center;
    z-index: 0;
}

#angular {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 35%;
    left: 40%;
    text-align: center;
    z-index: 0;
}

#node {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 35%;
    left: 50%;
    text-align: center;
    z-index: 0;
}

/*Board Styling End*/

.black {
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
}

.mongo {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 37%;
    left: 20%;
    text-align: center;
    z-index: 0;
}

.mariologo {
    height: 5%;
    width: 5%;
    margin-top: 2%;
}

.navbar {
    margin-top: 15px;
    background-color: lightgrey;
}

.navbar .nav {
    float: right;
    margin-top: 1%;
}

