
.question {
    width: 50px;
}

img {
    position: relative;
    left: 0;
    top: 0;
}

.wall {
    height: 300px;
    width: 50px;
    background-color: lightblue;
    position: absolute;
    left: 550px;
    border-radius: 10px;
}

.black {
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
}