<div class="boss container-fluid">
<div id="bossbackground">
        <h1 id="title">Ready Player One!</h1>
            <div>           
                <div class="inquiry">
                    <div>{{ bossQ.question }}</div>
                <ol type="A">
                    <li>{{ bossQ.A }}</li>
                    <li>{{ bossQ.B }}</li>
                    <li>{{ bossQ.C }}</li>
                    <li>{{ bossQ.D }}</li>
                </ol>
                <div id="questionbox">
                <div class="question" ng-mouseover="query()">HOVER TO ATTACK</div>
                </div>
                </div>

                <div id="bigbosspic">
                <img id="bigbosspic" src="./images/bigboss.png">
                </div>
            </div>
            <br><br>
        <br><br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        
</div>
</div>