<input type="text" placeholder="First Name" id="new-firstname" ng-model="newFirstName">
<input type="text" placeholder="Last Name" id="new-lastname" ng-model="newLastName">
<input type="email" placeholder="Email" class="white" ng-model="newEmail">
<input type="password" placeholder="Password" ng-model="newPass">
<input type="text" placeholder="User Name" id="new-username" ng-model="newUsername">

<div>
    <button type="button" id="saveBtn" ng-click="createUser()">Save</button>
    <button type="button" id="retBtn" ><a ng-href="/">Return</a></button>
</div>