<div id="bossbackground">

    <h1 id="title">Grr. Argh. A giant EXPRESS attacks you.</h1>
            <div>           
                <div class="inquiry">

                    <h3>{{ expressquestion.question }}</h3>                  
                <ol type="A">
                    <li>{{ expressquestion.A }}</li>
                    <li>{{ expressquestion.B }}</li>
                    <li>{{ expressquestion.C }}</li>
                    <li>{{ expressquestion.D }}</li>
                </ol>
                <div class="question" ng-mouseover="query()">HOVER TO ATTACK</div>
                </div>

                <div id="bosspic">
                <img src="./images/angrycpu4.jpeg">
                </div>
            </div>


            <br><br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
        
</div>

