<div class="boss container-fluid">
<div id="bossbackground">
    <h1 id="title">Rawr. A giant MONGO attacks you.</h1>     
            <div>           
                <div class="inquiry">
                    <h3>{{ mongoquestion.question }}</h3>                  
                <ol type="A">
                    <li>{{ mongoquestion.A }}</li>
                    <li>{{ mongoquestion.B }}</li>
                    <li>{{ mongoquestion.C }}</li>
                    <li>{{ mongoquestion.D }}</li>
                </ol>
                <div id="questionbox">
                <div class="question" ng-mouseover="query()">HOVER TO ATTACK</div>
                </div>
                </div>
                <div id="bosspic">
                <img src="./images/angrycpu1.jpeg">
                </div>
            </div>


            <br><br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <br>
            <br>
        
</div>
</div>

