<div class="boss container-fluid">
    <div id="bossbackground">
        <h1 id="title">Look out! A giant NODE attacks you.</h1>
                <div>           
                    <div class="inquiry">
                        <h3>{{ nodequestion.question }}</h3>                  
                    <ol type="A">
                        <li>{{ nodequestion.A }}</li>
                        <li>{{ nodequestion.B }}</li>
                        <li>{{ nodequestion.C }}</li>
                        <li>{{ nodequestion.D }}</li>
                    </ol>
                    <div id="questionbox">
                    <div class="question" ng-mouseover="query()">HOVER TO ATTACK</div>
                    </div>
                    </div>
                    <div id="bosspic">
                    <img src="./images/angrycpu2.jpeg">
                    </div>
                </div>


                <br><br><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br><br>
                <br>
                <br>
            
    </div>
</div>