<div class="doge"></div>
<div class="container-fluid winner">
    <h2 id="winner">{{ username | uppercase }} wins MEANies!</h2>
    <h4>You are amazing! Such Win! Many gameplay!</h4>
    <!--<img id="fireworks" src="images/stars-1097821_960_720.png" alt="">-->
</div>
<div class="fireworks"></div>

<div class="credits">
    <div class="winner">
        <h2>Creative team at Depot/U Birmingham</h2>
        <h3>Big MEANie- Jeff Linn</h3>
        <h3>MEANie- Parrish Holley</h3>
        <h3>MEANie- Camille Parks</h3>
        <h3>MEANie- Jesse Payne</h3>
    </div>
    <ul class="subcredit">
        <li>No animals were harmed in the making of this game</li>
        <li>This is a work of fiction</li>
        <li>Any resemblance to actual persons, living or dead, or actual events is purely coincidental</li>
        <li>Some names and identifying details have been changed to protect the privacy of individuals.</li>
    </ul>
    <ul class="subcredit">
        <li>We would like to thank the following individuals and entities:</li>
        <li>Depot/U and Innovation Depot</li>
        <li>David Stapleton and Kelsey Nichols</li>
        <li></li>
    </ul>
</div>
